@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans'), url('./fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WeblySleek';
  src: local('WeblySleek'), url('./fonts/weblysleekuisl.ttf') format('truetype');
}

:root {
  font-family: WeblySleek, sans-serif;
  font-size: 16px;
  --bg-primary: #fcfbfc;
  --bg-secondary: #262526;
  --text-primary: #f3f2f3;
  --accent-primary: #8366f6;
  --hover-primary: #e8e7e8;
  --border-primary: #fdfbfd;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

*:focus {
  outline: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 6vh;
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.main-header {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  letter-spacing: 0.1ch;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 80vh;
  width: 22%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.source-title {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 75vh;
  width: 100%;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 0.25rem;
}

.list::-webkit-scrollbar-track {
  background: var(--hover-primary);
}

.list::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

.article-item {
  max-height: 15%;
  width: 100%;
  text-decoration: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0rem;
  transition: 400ms ease;
  border-bottom: 2px solid #e0dfe0;
}

.article-item:hover {
  background-color: var(--hover-primary);
}

.article-item div {
  padding: 0 1rem;
  color: black;
  text-decoration: none;
}

.article-item a {
  color: black;
  text-decoration: none;
}

#search-container {
  height: 5vh;
  width: 95vw;
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.5rem 0;
}

#search-filter {
  font-family: WeblySleek;
  width: 7%;
  border: none;
  border-bottom: 2px solid var(--bg-secondary);
  background-color: var(--bg-primary);
  transition: 600ms ease;

  font-size: 1.1rem;
}

#search-filter:focus {
  width: 12%;
  border: none;
  border-bottom: 2px solid var(--bg-secondary);
}

#search-filter::placeholder {
  color: var(--bg-secondary);
  text-indent: 2px;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#home {
  height: 80vh;
  width: 95vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
